<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Detrav.Terometr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Detrav.Terometr.Properties.Settings>
            <setting name="adapterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="windowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="serverIp" serializeAs="String">
                <value>91.225.237.5</value>
            </setting>
            <setting name="battleTimeout" serializeAs="String">
                <value>3.153</value>
            </setting>
            <setting name="dpsBehaviorType" serializeAs="String">
                <value>0</value>
            </setting>
        </Detrav.Terometr.Properties.Settings>
    </userSettings>
</configuration>